{{!-- 
  UI Spacer - Flexible breathing room element
  Usage: {{> "ui/ui-spacer"}}
  
  - Provides consistent spacing/air where needed
  - Inherits background in day/night mode
  - Custom color available in Nightdriver custom mode
--}}

<div class="nightdriver-ui-spacer">&nbsp;</div>
