<header class="nightdriver-site-header">
  {{> "header/header-top"}}
  {{> "header/header-utility"}}

  <div class="nightdriver-progress" aria-hidden="true">
    <div class="nightdriver-progress-bar" id="nightdriver-progress-bar"></div>
  </div>
</header>
